.expand:before {
    content: '▼';
}

.collapse:before {
    content: '►';
}

.expand:hover {
    cursor: pointer;
}

.collapse:hover {
    cursor: pointer;
}

.attachment-table table:first-child tr td:first-child div {
    text-align: center;
}

.download-btn:hover {
    color: #f7941e;
    cursor: pointer;
}
