.title {
    color: #5d8ea9;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
}

.gridjs th {
    color: white;
    background-color: #5d8ea9;
    font-size: small;
}

.gridjs div pagination {
    background-color: olive;
    border: none;
}