.modal-body-first {
    border: 3px dashed #ddd;
    padding: 30px;
}

.modal-body-second {
    text-align: center;
}

.input {
    display: none;
}

.button-browse {
    border-radius: 0.25rem;
    border-style: solid;
    border-color: #cdced9;
    color: #6b6c7e;
    padding-bottom: 0.4375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-top: 0.4375rem;
}
