.button-plain,
.button-plain:focus,
.button-plain:active {
    border-color: #dbdce4 !important;
    color: #6b6c7e !important;
    background-color: white !important;
}
.button-plain:hover {
    border-color: #dbdce4 !important;
    color: black !important;
    background-color: #f8f9fa !important;
}